h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;

}

h3 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h4 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

body {
  background-color: peachpuff;
}

p {
  font-family: "Ubuntu";
  font-weight: lighter;
  padding: 2%;
}

#title{

}

.container-fluid{
  padding: 3% 5%;
}

.text{
  text-align: center;
}
/* Kalenteri osio */
#kalenteri{
  text-align: center;
  padding: 3% 13%;
}

.row{
  text-align: center;
}

.luukku-img{
  width: 80%;
  height: 80%;
}

footer{
  text-align: center;
}

#map {
  height: 400px;
  width: 100%;
 }
